Lab3_Datos/Web References/MediaDedicacion/MediaDedicacion.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="MediaDedidacion" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="MediaDedidacion" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="MediaDedidacion">
      <s:element name="calcularMedia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="asig" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="calcularMediaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="calcularMediaResult" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="calcularMediaSoapIn">
    <wsdl:part name="parameters" element="tns:calcularMedia" />
  </wsdl:message>
  <wsdl:message name="calcularMediaSoapOut">
    <wsdl:part name="parameters" element="tns:calcularMediaResponse" />
  </wsdl:message>
  <wsdl:portType name="MediaDedicacionSoap">
    <wsdl:operation name="calcularMedia">
      <wsdl:input message="tns:calcularMediaSoapIn" />
      <wsdl:output message="tns:calcularMediaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MediaDedicacionSoap" type="tns:MediaDedicacionSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="calcularMedia">
      <soap:operation soapAction="MediaDedidacion/calcularMedia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MediaDedicacionSoap12" type="tns:MediaDedicacionSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="calcularMedia">
      <soap12:operation soapAction="MediaDedidacion/calcularMedia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MediaDedicacion">
    <wsdl:port name="MediaDedicacionSoap" binding="tns:MediaDedicacionSoap">
      <soap:address location="http://hads22-14.azurewebsites.net/MediaDedicacion.asmx" />
    </wsdl:port>
    <wsdl:port name="MediaDedicacionSoap12" binding="tns:MediaDedicacionSoap12">
      <soap12:address location="http://hads22-14.azurewebsites.net/MediaDedicacion.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>